:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 0px;
  border: 1px;
  border-style: solid;
  padding: 2.25em 2.25em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: whitesmoke;
  cursor: pointer;
  transition: border-color 0.25s;
}

